{
  "BASE_URL": "https://www.mywebsite.com",
  "WEBSITE_TITLE": "Dashboard",
  "NODE_BACKEND_PORT": "35001",
  "MONGO_DB_URL": "mongodb://localhost:27017",
  "MONGO_DB_NAME": "crypto_db",
  "COPYRIGHT": "Copyright © 1999-2020 Web Art Factory. All rights reserved.",
  "POLONIEX_KEY": "",
  "POLONIEX_SECRET": ""
}