

.nav {
  display : flex;
  flex-direction: row;
  width : 100%;
  list-style-type : none;
  margin-top: 0px;
}

.navbar-brand {
  margin-right : 700px;
}

.navbar {
  padding-right : 30px;
  padding-top: 10px;
  font-weight: bold;
}

.navcat {
  display : flex;
  flex-direction : row;
}

.logo {
  width : 70px;
  padding-left: 15px;
  /* height : 150px; */
}

/* .inputButton {
  display : flex !important;
  flex-direction : column;
  align-items: center;
} */

.input {
  width : 30%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 500px;
  margin-top: 30px;
}

.inputField {
  color : white;
}

.select {
  margin-right: 500px;
}

.confirmer {
  margin-top: 30px;
  display : flex !important;
  flex-direction : column;
  align-items: center;
}

.button {
  /* margin-bottom: 10px;
  border-radius: 10px; */
  /* height: 35px; */
  /* width : 300px; */
  font-weight: bold;
  border-color: #0000 !important;
  color: #f7a952 !important;
  /* color : white;
  background-color: white; */
}

.button:hover {
  background-color: #f7a952 !important;
  color : white !important;
  font-weight: bold;
}

.table {
  width : 80%;
  margin : 0 auto;
}

.checkbox {
  width : 80%;
  margin : 0 auto;
}

.banniere {
  margin : 10px auto;
  display: block;
}

.containerText {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
 
}

.textBanniere {
  display: flex;
  background-color: #f7a952;
  color : white;
  text-align: center;
  font-weight: bold;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  
}

.inputsContainer {
  background-color:  #fff ;
  margin-top: 20px;
  width : 70%;
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
}

.textDesc {
  color : #f7a952;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.text {
  margin-left: 300px;
}

.loginText {
margin-top: 15px;
/* padding-right: 15px; */
 align-self: center;
 justify-content: center;
}

.loginField {
  margin: 40px;
  text-align: center;
}

.row {
  justify-content: center;
}

.error {
  color : red;
}